# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files (Secrets!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug Scripts (Secrets!)
debug-github-api.js
debug_images.txt
debug_output.txt
debug_output_2.txt
debug_output_3.txt

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?
